swagger: "2.0"
info:
  description: ""
  version: "1.0.0"
  title: "Phenopolis API"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "info@phenopolis.org"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "www.phenopolis.org"
basePath: "/v1"
tags:
- name: "variant"
  description: "Variant information"
  externalDocs:
    description: ""
    url: "http://www.phenopolis.org"
- name: "gene"
  description: "Gene information"
- name: "phenotype"
  description: "Phenotype information"
  externalDocs:
    description: ""
    url: "http://www.phenopolis.org"
schemes:
- "https"
- "http"
paths:
  /variant/{variantId}:
    get:
      tags:
      - "variant"
      summary: "Find variant by ID"
      description: "Returns a single variant"
      operationId: "getVariantById"
      produces:
      - "application/json"
      parameters:
      - name: "variantId"
        in: "path"
        description: "ID of variant to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Variant"
        400:
          description: "Invalid ID supplied"
        404:
          description: "Variant not found"
      security:
      - api_key: []
  /variant:
    get:
      tags:
      - "variant"
      summary: "Finds Variants by id"
      description: "Multiple variant ids can be provided with comma separated strings"
      operationId: "findVariantsByID"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "query"
        description: ""
        required: true
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Variant"
        400:
          description: "Invalid status value"
      security:
      - phenopolis_auth:
        - "write:variants"
        - "read:variants"
  /gene:
    get:
      tags:
      - "gene"
      summary: ""
      description: "Get gene by id but also filter variants out by CADD and freq"
      operationId: ""
      produces:
      - "application/json"
      parameters:
      - in: "query"
        name: "id"
        type: string
        description: "Gene ENSEMBL id"
        required: true
      - in : "query"
        name : "gnomad_freq"
        type: number
        description: "gnomad allele freq threshold"
      - in : "query"
        name : "cadd"
        type : number
        description: "CADD threshold"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Gene"
        400:
          description: "Invalid tag value"
      security:
      - phenopolis_auth:
        - "write:variants"
        - "read:variants"

  /hpo/:
    get:
      tags:
      - "phenotype"
      summary: "Returns Human Phenotype Ontology (HPO)"
      description: ""
      operationId: ""
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/HPO"
      security:
      - api_key: []
  /patient:
    get:
      tags:
      - "patient"
      summary: "Returns patient"
      description: ""
      operationId: ""
      produces: 
      - "application/json"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
           $ref: "#/definitions/Patient"
      security:
      - api_key: []
securityDefinitions:
  phenopolis_auth:
    type: "oauth2"
    authorizationUrl: "https://www.phenopolis.org/oauth/dialog"
    flow: "implicit"
    scopes:
      write:variants: "modify variants in your account"
      read:variants: "read your variants"
  api_key:
    type: "apiKey"
    name: "api_key"
    in: "header"
definitions:
  SimpleVariant:
    type: "object"
    properties:
      id:
        type: "string"
      gene:
        type: "array"
        items:
          type: "string"
      kaviar_af:
        type: "number"
      cadd:
        type: "number"
      internal_af:
        type: "number"
      internal_hom_f:
        type: "number"
  Variant:
    type: "object"
    properties:
      id:
        type: "string"
      gene:
        type: "array"
        items:
          type: "string"
      gnomad_af:
        type: "number"
      gnomad_hom_f:
        type: "number"
      bravo_af:
        type: "number"
      bravo_hom_f:
        type: "number"
      kaviar_af:
        type: "number"
      filter:
        type: "string"
      cadd:
        type: "number"
      internal_af:
        type: "number"
      internal_hom_f:
        type: "number"
      carriers:
        type: "object"
        properties:
          heterozygous:
            type: "array"
            items:
              type: "string"
          homozygous:
            type: "array"
            items:
              type: "string"
  Gene:
    type: "object"
    properties:
      id:
        type: "string"
      symbol:
        type: "string"
      variants:
        $ref: "#/definitions/SimpleVariant"
      HPO:
        $ref: "#/definitions/HPO"
  HPO:
    type: "object"
    properties:
      id:
        type: "string"
      name:
        type: "string"
      patients:
        $ref: "#/definitions/Patient"
      genes:
        $ref: "#/definitions/Gene"
  Patient:
    type: "object"
    properties:
      id:
        type: "string"
      phenotypes:
        $ref: "#/definitions/HPO"
      variants:
        $ref: "#/definitions/Variant"
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"
