swagger: "2.0"
info:
  description: ""
  version: "1.0.0"
  title: "Phenopolis API"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "info@phenopolis.org"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "www.phenopolis.org"
basePath: "/v1"
tags:
- name: "variant"
  description: "Variant information"
  externalDocs:
    description: ""
    url: "http://www.phenopolis.org"
- name: "gene"
  description: "Gene information"
- name: "phenotype"
  description: "Phenotype information"
  externalDocs:
    description: ""
    url: "http://www.phenopolis.org"
schemes:
- "https"
- "http"
paths:
  /variant:
    get:
      tags:
      - "variant"
      summary: "Finds Variants by id"
      description: "Multiple variant ids can be provided with comma separated strings"
      operationId: "findVariantsByID"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "query"
        description: ""
        required: true
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Variant"
        400:
          description: "Invalid status value"
      security:
      - phenopolis_auth:
        - "write:variants"
        - "read:variants"
  /gene:
    get:
      tags:
      - "gene"
      summary: ""
      description: ""
      operationId: ""
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "query"
        description: "Gene ENSEMBL id"
        required: true
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Gene"
        400:
          description: "Invalid tag value"
      security:
      - phenopolis_auth:
        - "write:variants"
        - "read:variants"
  /variant/{variantId}:
    get:
      tags:
      - "variant"
      summary: "Find variant by ID"
      description: "Returns a single variant"
      operationId: "getVariantById"
      produces:
      - "application/json"
      parameters:
      - name: "variantId"
        in: "path"
        description: "ID of variant to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Variant"
        400:
          description: "Invalid ID supplied"
        404:
          description: "Variant not found"
      security:
      - api_key: []
  /phenotype/:
    get:
      tags:
      - "phenotype"
      summary: "Returns phenotype"
      description: ""
      operationId: ""
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Phenotype"
      security:
      - api_key: []
securityDefinitions:
  phenopolis_auth:
    type: "oauth2"
    authorizationUrl: "https://www.phenopolis.org/oauth/dialog"
    flow: "implicit"
    scopes:
      write:variants: "modify variants in your account"
      read:variants: "read your variants"
  api_key:
    type: "apiKey"
    name: "api_key"
    in: "header"
definitions:
  Variant:
    type: "object"
    properties:
      id:
        type: "string"
      gene:
        type: "string"
      allele_frequency:
        type: "number"
  Gene:
    type: "object"
    properties:
      id:
        type: "string"
      symbol:
        type: "string"
      variants:
        $ref: "#/definitions/Variant"
  Phenotype:
    type: "object"
    properties:
      id:
        type: "string"
      name:
        type: "string"
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"
